/*
 |--------------------------------------------------------------------------
 | Fonts
 |--------------------------------------------------------------------------
 |
 | Import all fonts used in the template, the font configuration can be
 | seen in "tailwind.config.js".
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/theme
 |
 */
@import "./fonts/_roboto.css";

/*
 |--------------------------------------------------------------------------
 | Components
 |--------------------------------------------------------------------------
 |
 | Import CSS components.
 |
 */
@import "./components/base/_box.css";
@import "./components/base/_global.css";
@import "./components/base/_image-fit.css";
@import "./components/base/_scrollbar-hidden.css";
@import "./components/base/_typing-dots.css";
@import "./components/base/_zoom-in.css";
@import "./components/base/_intro.css";

/*
|--------------------------------------------------------------------------
| Dark mode table styles
|--------------------------------------------------------------------------
|
| Dark mode styles for Ant Design tables in PointConfig
|
*/
.dark .ant-table-tbody .ant-table-row .ant-table-cell {
  background-color: rgb(41, 53, 82) !important;
  color: rgb(226, 232, 240) !important;
}

.dark .ant-table-tbody .ant-table-row:hover .ant-table-cell {
  background-color: rgb(53, 69, 103) !important;
}

.dark .ant-table-tbody .ant-table-row:nth-child(even) .ant-table-cell {
  background-color: rgb(48, 61, 93) !important;
}

.dark .customTableRow td {
  background-color: rgb(48, 61, 93) !important;
}

/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 |
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
